/node_modules
/public/deposit
/public/receipt
/public/product_photo
/public/pdf
/public/woo
/public/comment
/public/report
/public/withdrawal
/public/project
/storage/*.key
.idea
.git
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
#yarn-error.log
