@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
    text-decoration: none !important;
}

.required label:after{
    content: "*";
    color: red;
}
